*{
    margin: 3;
    padding: 4;
    outline: 4;
    font-family: 'Open-sans', sans-serif;
}
body{
    height: 100vh;
    color: white;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    width: 300px;
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
.container h1{
    text-align: left;
    color: white;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid blue;
}